#parent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  align-content: stretch
}

.top{
  align-self: stretch;
  flex-basis: 150px;
  border: 1px black solid;
  margin-bottom: 20px;
}

.sq1{
  background-color: purple;
  height: 100px;
  width: 40px;
  margin-left: 15px;
  margin-top: 40px;
  display: inline-block;
}

.sq2{
  background-color: green;
  height: 140px;
  width: 400px;
  float: center;
  margin-top: 20px;
  margin-left: 10px;
  display: inline-block;
}

.cir3{
  background-color: lightblue;
  height: 140px;
  width: 140px;
  display: inline-block;
  margin-left: 30px;
  border-radius: 50%
}

.middle{
  align-self: stretch;
  flex-basis: 150px;
  border: 1px black dotted;
  margin-bottom: 20px;
}

.midSq{
  background-color: lightgoldenrodyellow;
  margin: 10px 150px 10px 80px;
  height: 120px;
  width: 1100px;
}

.bottom{
  align-self: stretch;
  flex-basis: 175px;
  border: 1px black solid;
  text-align: center;
}

.greet{
  align-content: center;
  margin-left: 300px;
  text-align: center;
  margin-top: 30px;
  height: 150px;
  width: 50%;
  background-color: red;
  border: 1px black solid;
  padding: 10px;
}
